<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>添加</title>
</head>

<body>
    <form action="{:url('insert')}" method="post">
        <input type="text" name="student_id" />
        <input type="text" name="teacher_id" />
        <select name="status">
            <option value="1">正常</option>
            <option value="2">旷课</option>
            <option value="3">请假</option>
            <option value="4">迟到</option>
            <option value="5">早退</option>
        </select>
        <button type="submit">submit</button>
    </form>
</body>

</html>
