<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>排课</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
            <form action="{:url('update')}" method="post">
                <label>kclass_id:</label>
                <input type="hidden" name="id" value="{$kechengbiao->getData('id')}" />
                <input type="text" name="kclass_id" value="{$kechengbiao->getData('kclass_id')}" />
                <label>coruse_id:</label>
                <input type="text" name="course_id" value="{$kechengbiao->getData('course_id')}" />
                <button type="submit">保存</button>
            </form>
        </div>
    </div>
</body>

</html>
